:root {
  --dzieje-color: rgba(255, 255, 255, 0.87);
  --dzieje-bg: #242424;
  --dzieje-link-color: #646cff;
  --dzieje-link-hover-color: #535bf2;
  --dzieje-border: 1px solid rgba(173, 216, 230, 0.1);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--dzieje-color);
  background-color: var(--dzieje-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dzieje-technology-history-bg: #3a3f45; /* chłodny szary */
  --dzieje-philosophy-history-bg: #4a4035; /* ciepły brąz */
  --dzieje-religion-history-bg: #4b3f5a; /* fioletowo-szary */
  --dzieje-natural-sciences-bg: #3b4a3b; /* ciemna zieleń */
  --dzieje-math-logic-bg: #33475c; /* ciemny niebieski */
  --dzieje-social-sciences-bg: #5a3f35; /* ciepły ceglasty */
}

@media (prefers-color-scheme: light) {
  :root {
    --dzieje-color: #213547;
    --dzieje-bg: #ffffff;
    --dzieje-link-hover-color: #747bff;

    --dzieje-technology-history-bg: #e4e8ec;
    --dzieje-philosophy-history-bg: #f0e6d2;
    --dzieje-religion-history-bg: #e6daf5;
    --dzieje-natural-sciences-bg: #e3f5e1;
    --dzieje-math-logic-bg: #d6ebff;
    --dzieje-social-sciences-bg: #ffe5d4;
    --dzieje-border: 1px solid rgb(33 53 71 / 20%);
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--dzieje-link-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--dzieje-link-hover-color);
}

body {
  margin: 0;
  min-width: 320px;
}

.site-main {
  border-top: var(--dzieje-border);
}

.site-title {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

.entry {
  position: relative;
  padding-left: 0.5rem;
}

.entry--technology-history {
  background-color: var(--dzieje-technology-history-bg);
}

.entry--philosophy-history {
  background-color: var(--dzieje-philosophy-history-bg);
}

.entry--religion-history {
  background-color: var(--dzieje-religion-history-bg);
}

.entry--natural-sciences {
  background-color: var(--dzieje-natural-sciences-bg);
}

.entry--math-logic {
  background-color: var(--dzieje-math-logic-bg);
}

.entry--social-sciences {
  background-color: var(--dzieje-math-logic-bg);
}

.style7 em,
:where(em:not(:first-child) strong, strong:not(:first-child) em) {
  font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  font-size: 1.15rem;
}

.site-header,
.entry-title,
.entry-data {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.entry-title,
.entry-data {
  border-left: var(--dzieje-border);
  padding-left: 2rem;
}

.entry-title {
  font-size: 2rem;
  line-height: 1;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  position: relative;
}

.entry-title::before {
  content: "•";
  display: inline-block;
  transform: translateX(calc(-2rem - 7px));
  width: 0;
}

.entry-data {
  border-top: var(--dzieje-border);
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
}

.entry-data::after {
  position: absolute;
  top: 0;
  right: 0;
}

.style6,
.style7 {
  border-top-color: transparent;
}

.style6 {
  text-align: center;
}

.style7 {
  text-align: right;
}

.entry:has(> :where(.style6, .style7)) + .entry:has(> :where(.style6, .style7)) .entry-data {
  padding-top: 0;
}

.entry--technology-history .entry-data::after {
  content: "⚙️💡";
}

.entry--philosophy-history .entry-data::after {
  content: "🧠";
}

.entry--natural-sciences .entry-data::after {
  content: "🔭🧬⚗️";
}

.entry--religion-history .entry-data::after {
  content: "✝️☸️☪️";
}

.entry--math-logic .entry-data::after {
  content: "🔢";
}

.entry--social-sciences .entry-data::after {
  content: "🧑‍🤝‍🧑🗣️";
}

.entry:nth-child(3) {
  border-top: var(--dzieje-border);
}

.entry:nth-child(3) > .entry-data.style6 {
  padding-top: 2rem;
}
